body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("table.png");
    font-weight: bold;
    text-align: center;
    background-size: cover;

}

h1 {
    color: goldenrod;
    font-size: 50px;

}

#message-el {
    color: aliceblue;
    font-style: italic;

}

p {
    color: aliceblue;
    font-size: 25px;
}

#start-btn {
    border: none;
    padding: 25px;
    background-color: goldenrod;
    border-radius: 15px;
    text-align: center;
    text-emphasis: bold;
    color: #016f32;
    font-size: large;
    font-family: Arial Black,Arial Bold,Gadget,sans-serif;
    transition: 0.3s ease;
    cursor: pointer;
}

#start-btn:hover {
  background-color: darkgreen;
}

#newcard-btn {
    border: none;
    padding: 25px;
    background-color: goldenrod;
    border-radius: 15px;
    text-align: center;
    text-emphasis: bold;
    color: #016f32;
    font-size: large;
    font-family: Arial Black,Arial Bold,Gadget,sans-serif;
    transition: 0.3s ease;
    cursor: pointer;
}

#newcard-btn:hover {
    background-color: darkgreen;
  }

#resetgame-btn {
    border: none;
    padding: 25px;
    background-color: darkred;
    border-radius: 15px;
    text-align: center;
    text-emphasis: bold;
    color: #016f32;
    font-size: large;
    font-family: Arial Black,Arial Bold,Gadget,sans-serif;
    transition: 0.3s ease;
    cursor: pointer;
}

#resetgame-btn:hover {
  background-color: darkgreen;
}
